* {
   box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #666;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: #0c2a41bd;
   z-index: 2;
   display: grid;
   place-items: center;
}

.overlay span {
   font-size: 4vw;
   color: white;
   background-color: cornflowerblue;
   padding: 1rem 2rem;
   cursor: pointer;
   user-select: none;
   border-radius: 6px;
   position: relative;
   top: -10%;
}

.overlay span:hover {
   background-color: rgb(53, 115, 228);
}

.info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 20px auto 0;
   width: 90%;
   max-width: 1080px;
   padding: 1rem;
   border-radius: 6px;
   font-size: 1.25rem;
   background-color: #f6f6f6;
   border: 2px solid #2196f3;
   user-select: none;
   overflow: hidden;
}

.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 90%;
   max-width: 1100px;
   margin: 20px auto;
}

.container.no-clicking {
   pointer-events: none;
}

.container .game-holder {
   cursor: pointer;
   height: 20vh;
   width: 15vw;
   max-width: 170px;
   max-height: 130px;
   transform-style: preserve-3d;
   position: relative;
   transition: transform 0.5s;
   margin: 0 10px 20px;
}

.container .game-holder .front {
   background-color: #333;
   line-height: 20vh;
   text-align: center;
}

.container .game-holder .front::before {
   content: "?";
   color: white;
   font-weight: bold;
   font-size: 6vw;
   top: -10%;
   position: relative;
   text-shadow: 0px 1px 10px white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container .game-holder .back {
   background-color: #607d88;
   transform: rotateY(180deg);
}

.container .game-holder .back img {
   width: 90%;
   height: 90%;
}

.container .game-holder .face {
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   backface-visibility: hidden;
   border: 5px solid #2196f3;
}

.container .flipped,
.container .matched {
   transform: rotateY(180deg);
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
   .overlay span {
      font-size: 5vw;
      padding: 1rem 1.5rem;
   }



   .container .game-holder {
      width: 96px;
      height: 80px;
   }

   .container .game-holder .front::before {
      top: -33px;
   }
}

@media (max-width: 480px) {
   .overlay span {
      font-size: 6vw;
      padding: 0.5rem 1rem;
   }

   .info {
      width: 95%;
      font-size: 0.9rem;
   }

   .container .game-holder {
      width: 50px;
      height: 50px;
   }

   .container .game-holder .front::before {
      font-size: 27px;
      top: -47px;
      position: absolute;
      right: 12px;
   }
}